<ul class="chat-message disconnect">
  <li class="chat-message-img">
    <a class="img-link">
      <img src="https://ca.slack-edge.com/T4XBHDFMJ-U4Y1084UW-c8fc6c165d14-30" alt="">
    </a>
  </li>
  <li class="chat-message-content">
    <div class="content-head">
      <div data-user-id="<%= payload.user.id %>">
        <h2><%= payload.user.display_name %></h2>
      </div>
      <div>
        <h2>11:14AM</h2>
      </div>
    </div>
    <div class="content-body">
      <h2>joined #javascript-qna</h2>
    </div>
  </li>
</ul>
